<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zodiac Chatbot</title>
    <!-- <link rel="stylesheet" href="style.css"> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <style>
        body{
            background: url("{{ url_for('static', filename='images/zodiac-symbols.jpg') }}") no-repeat center center fixed;
            background-size: cover;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Richie Mighty🔮 Zodiac Chatbot</h1>
        <p>Discover your zodiac sign, lucky numbers, and more! Start chatting now.</p>

        <!-- <a href="https://api.whatsapp.com/send/?phone=14155238886&text=join+band-trunk&type=phone_number&app_absent=0"></a> -->
        <a href="https://wa.me/14155238886?text=join+band-trunk"           class="whatsapp-btn">
            <i class="fab fa-whatsapp"></i> Chat on WhatsApp
        </a>
    </div>
</body>
</html>
